
<!-- LOGIN PAGE FOR USER MODEL -->
<div id="sign_in1">
    <div class="container" >
        <div class="row">

            <div class="col-md-12 header">
				<h4> </h4>
                <h4> Log in to your account</h4>   
         		<p> Sign In to Start your TeleVisit</p>     
            </div>

            <div class="col-sm-3 division">
                <div class="line l"></div>
                <span> </span>
                <div class="line r"></div>
            </div>

            <div class="col-md-12 footer">
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html =>{:class => 'form-inline'}) do |f| %>
				  <%= f.text_field :email, :placeholder => 'Email', :autofocus => true, :class => 'form-control' %>
				  <%= f.password_field :password, :placeholder => 'Password', :class => 'form-control' %>
				  <%= f.submit "Log in" %>
					            
				<div class="col-md-12 proof">
	                <div class="col-md-6 remember">
						<% if devise_mapping.rememberable? -%>
						    <label class='checkbox'> <%= f.check_box :remember_me %> Remember Me </label>
						<% end -%>

	                 
	                    <%= link_to "Forgot Password?", new_user_password_path %>
	                </div>

	                <div class="col-md-6">
	                    <div class="dosnt">
	                        <span>Don’t have an account?</span>
	                        <%= link_to "Sign Up", new_user_registration_path %>
	                    </div>
	                </div>
	            </div>
				  
					<% end %>
					
            </div>

            
        </div>
    </div>
</div>


<!-- FOOTER starts footer -->
<footer id="footer">
    <div class="container">
        <div class="row info">
            <div class="col-sm-6 residence">
                <ul>
                    <li>TeleVisit.IO LLC</li>
                    <li>New York, NY 10032.</li>
                </ul>
            </div>
            <div class="col-sm-5 touch">
                <ul>
                    <li><strong>P.</strong> 1 347 229 1467</li>
                    <li><strong>E.</strong><a href="#"> support@televisit.io</a></li>
                </ul>
            </div>
        </div>
        <div class="row credits">
            <div class="col-md-12">
                
                <div class="row copyright">
                    <div class="col-md-12">
                        © 2014 Televisit.IO. All rights reserved. 
                    </div>
                </div>
            </div>            
        </div>
    </div>
</footer>

